<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Setter based DI -->
	<bean id="rect1" class="com.tms.Rectangle">
		<property name="length" value="10" />
		<property name="breadth" value="5" />
	</bean>
	
	<!-- Ctor based DI -->
	<bean id="rect2" class="com.tms.Rectangle">
		<constructor-arg index="0" value="20" />
		<constructor-arg index="1" value="10" />
	</bean>

</beans>